extends layout

block localcss
	link(href='../styles/style.css',rel='stylesheet',type='text/css')

block content
	div.subheader Publications & Conference Proceedings
	ul.pub
		li
			span.author.
				Wilhelmus MM, 
			span.body.
				Ocean acidification: Towards a better understanding of calcite dissolution, 
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 69th Annual Meeting, 
			span.body.
				Portland, OR.
		li
			span.body.
				Rage G, Hernandez-Sanchez JF, 
			span.author.
				Wilhelmus MM, 
			span.body.
				 Zenit R, (2016) Long-life of a bubble on the surface of a water-alcohol mixture, 
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 69th Annual Meeting, 
			span.body.
				Portland, OR.
		li
			span.body.
				Sanchez Y, 
			span.author.
				Wilhelmus MM, 
			span.body.
				(2016) An underwater robo-leader for collective motion studies, 
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 69th Annual Meeting, 
			span.body.
				Portland, OR.
		li
			span.author Wilhelmus MM, 
			span.body.
				Dabiri JO, Nawroth J, (2016) A numerical study of fluid transport by migrating zooplankton aggregations, 
			span.journal.
				SIAM Conference on the Life Sciences, 
			span.body.
				Boston, MA.
		li
			span.author Martinez M, 
			span.body.
				Dabiri JO, Nawroth J, Gemmell B, Collins S, (2014) A hybrid numerical-experimental study of fluid transport by migrating zooplankton aggregations, 
			span.journal.
				Bulleting of the American Physical Society Division of Fluid Dynamics 67th Annual Meeting, 
			span.body.
				San Francisco, CA.
		li
			span.author Wilhelmus MM, 
			span.bpdy.
				Dabiri JO (2014) “Observations of large-scale fluid transport by laser-guided plankton
				aggregations”
			span.journal.
				Physics of Fluids 26: 101302.
		li
			span.author Martinez-Ortiz M, 
			span.body.
				Dabiri JO, (2013) Local fluid transport by planktonic swarms, 
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 66th Annual Meeting, 
			span.body.
				Pittsburg, PA.
		li
			span.author Martinez-Ortiz, 
			span.body.
				Dabiri JO, (2012) Scalar transport by planktonic swarms, 
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 65th Annual Meeting, 
			span.body.
				San Diego, CA.
		li
			span.author Martinez-Ortiz M, 
			span.body.
				Dabiri JO, (2012) Laboratory studies of ocean mixing by microorganisms, 
			span.journal.
				XXIII International Congress on Theoretical and Applied Mechanics
			Beijing, China.
		li
			span Mancilla E, 
			span.author Martinez-Ortiz M, 
			span.body.
				Soto E, Ascanio G, Zenit R., (2011) Bubbles in an isotropic homogenous
				turbulent flow,
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 64th Annual
				Meeting,
			Baltimore, MD.
		li
			span.author Martinez-Ortiz M, 
			span.body.
				Dabiri JO, (2011) Laboratory studies of ocean mixing by microorganisms, 
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 64th Annual Meeting,   
			Baltimore, MD.
		li
			span.author Martinez-Ortiz M, 
			span.body.
				Mancilla E, Zenit R, (2009) Analysis of the breakup of a viscous thread in a turbulent
				flow,
			span.journal.
				Bulletin of the American Physical Society Division of Fluid Dynamics 62nd Annual Meeting,
			Minneaplis, MN. 
	div.subheader In the Media
	ul.news
		li
			span.media National Geographics: 
			a(href="http://news.nationalgeographic.com/news/2014/09/140930-sea-monkeys-laser-ocean-animals-science/").
				Laser-Guided Sea-Monkeys Show That Tiny Animals Can Move Mountains of Seawater
		li
			span.media Wired:
			a( href="http://www.wired.com/2014/09/zooplankton-biomixing/").
				There Are So Many Tiny Animals in the Sea That They May Affect Currents
		li
			span.media Los Angeles Times: 
			a(href="http://www.latimes.com/science/sciencenow/la-sci-sn-sea-monkeys-laser-guided-brine-shrimp-20140930-story.html").
				Laser-guided ’sea monkeys’ hint at secrets of ocean’s motion
		li
			span.media The Washington Post: 
			a(href="http://www.washingtonpost.com/news/speaking-of-science/wp/2014/09/30/scientists-use-sea-monkeys-and-lasers-to-show-that-tiny-organisms-help-drive-ocean-currents/").
				Scientists use sea monkeys and lasers to show that tiny organisms help drive ocean currents
	div.footer
		img.footer(src="https://instagram.com/p/BQlF478D-Kj/media/?size=m")
		img.footer(src="https://instagram.com/p/BO4rawrDfAO/media/?size=m")
		img.footer(src="https://instagram.com/p/BMptQl8DBz7/media/?size=m")
		img.footer(src="https://instagram.com/p/BWeg-SGB8t4/media/?size=m")
		img.footer(src="https://instagram.com/p/BPHM6u_jDwx/media/?size=m")
