extends layout

block localcss
	link(href='../styles/style.css',rel='stylesheet',type='text/css')

block content
	div.class 
		div.classheader Fluid Mechanics - ME 113
		table
			tr
				td.img
					img.class_img(src="../images/me119.jpg")
				td.class_desc.
					This course focuses on understanding the physics behind fluid flow. Our starting point is Newton’s second law, which we will use to derive general conservation equations for mass, momentum, and energy both in differential and integral form. We will learn how to simplify these equations to study the dynamics of real fluid problems as well as derive exact solutions to some viscous fluid problems. Topics include: fluid properties, forces and stresses in fluids, Lagrangian and Eulerian descriptions of fluid flow, flow kinematics, stream functions, Euler’s equation, Bernoulli’s equation, Navier-Stokes equations, dimensional analysis, control volume theory, hydrostatics, lift, and drag.
	div.class
		div.classheader Fundamentals of Fluid Dynamics - ME 240B
		table
			tr
				td.img
					img.class_img(src="../images/me250b.jpg")
				td.class_desc.
					This is the last part of a two-course series of graduate level fluid mechanics. Topics include: boundary layer theory, quasi-one dimensional compressible flow, and shock waves.

